kheder hassoun
---

dataSet Link : https://www.kaggle.com/datasets/himanshunakrani/student-study-hours

-------------------------------------------------------------------

----------------------------------------

About my DataSet ‚ù§
--

The data set contains two columns. that is the number of hours student studied and the marks they got .

for example:

student studied 2.5 hours (two hours and half hour ) ==> then he got mark 21 (21/100) üòÅüòÅ

*******************************

In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\kheder\\Desktop\\machin_laerning_ex\\my_dataset\\score_updated.csv")
df.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

-------------------------------

Now lets describe  my dataset üìâüìëüì∞
--

In [3]:
df.describe()

           Hours     Scores
count  96.000000  96.000000
mean    5.267708  54.020833
std     2.503030  25.017459
min     1.000000  12.000000
25%     3.075000  30.750000
50%     5.250000  54.500000
75%     7.325000  74.250000
max     9.800000  99.000000

-----------------------------------------

---------------------------

In [4]:
df.columns

Index(['Hours', 'Scores'], dtype='object')

------------------------------------------------------------------------

Hours: This column  contains numerical data representing the number of hours each student studied. It could be floating-point numbers (allowing decimals) or integers (whole numbers) depending on how the data was recorded.

Scores: This column  contains numerical data representing the marks (grades) each student received. It could be integers representing points or percentages depending on your grading system.

In [5]:
print(df['Hours'].describe())

count    96.000000
mean      5.267708
std       2.503030
min       1.000000
25%       3.075000
50%       5.250000
75%       7.325000
max       9.800000
Name: Hours, dtype: float64

---------------------------------

In [6]:
print(df['Scores'].describe())

count    96.000000
mean     54.020833
std      25.017459
min      12.000000
25%      30.750000
50%      54.500000
75%      74.250000
max      99.000000
Name: Scores, dtype: float64

----------------------------------------------------

----------------------------------------------------

Thanks ü•∞
--